<div class="h-100 d-flex flex-column justify-content-center align-items-center bg-light text-dark">
  <div class="form-signin m-auto text-center">
    <h2 class="h3 mb-3 fw-normal">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group my-2">
        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "form-control", placeholder: 'Email' %>
          <%= f.label :email %>
        </div>
      </div>

      <div class="input-group my-2">
        <div class="form-floating">
          <%= f.password_field :password, autocomplete: "current-password",
            class: "form-control", placeholder: 'Password' %>
          <%= f.label :password %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions my-2">
        <%= f.submit "Log in", class: 'w-100 btn btn-lg btn-primary' %>
      </div>
    <% end %>

    <div class="actions my-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
